<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
	  
<head>
<title th:text="${pageTitle}"></title>
<script th:inline="javascript">
$(()=> {
	$("#summernote").summernote({
	  height: 300,                 // set editor height
	  minHeight: null,             // set minimum height of editor
	  maxHeight: null,             // set maximum height of editor
	  focus: true,                  // set focus to editable area after initializing summernote
	  callbacks: {
          onImageUpload: function(files, editor, welEditable) {
        	
            for (var i = files.length - 1; i >= 0; i--) {
              sendFile(files[i], this); // this => #summernote
            }
          }
        }
	});
	
});

function sendFile(file, el) {
	console.log("el=",el);//<textarea id="summernote" name="summernote" style="display: none;"></textarea>
	
    var formData = new FormData();
    formData.append('file', file);//file -> handler에서 접근할 전송파일명 
    formData.append('id', $("#id").val());
    
   	let ctx = /*[[@{/}]]*/; // script태그 안에서 ctx-path 표현하기 : "\/spring\/"으로 치환됨

   	$.ajax({
      data: formData,
      type: "POST",
      //url: ctx+'summernote/image',
      url: ctx+'summernote/s3/image',
      cache: false,
      contentType: false,
      enctype: 'multipart/form-data',
      processData: false,
      success: function(data) {
    	console.log("data =",data);
    	
        //$(el).summernote('editor.insertImage', ctx+data);
        //aws s3에 업로드시
        $(el).summernote('editor.insertImage', data.insertImage);
        $("#id").val(data.id);
      }
    });
  }
</script>
<style>
.summernote-container {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}
#writer, #btn-register {
	margin-top: 10px;
	margin-bottom: 10px;
}
</style>
</head>
<body>
<!-- layout:fragment="content"외의 태그는 모두 제거됨 -->
<div layout:fragment="content">
	
	<div class="summernote-container">
		<form th:action="@{/summernote/insert}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" id="id" value="0"/> <!-- 초기값 0으로 설정 -->
					
			<!-- 글쓴이 input태그 -->
			<div class="input-group flex-nowrap">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="writer">글쓴이</span>
			  </div>
			  <input type="text" class="form-control" id="writer" name="writer" placeholder="글쓴이(필수)" required/>
			</div>
			
			<!-- summernote api 대상 태그 : div 또는 textarea-->
			<!-- <div id="summernote">Hello Summernote</div> -->
			<textarea id="summernote" name="contents"></textarea>
			
			<!-- submit 버튼 : button태그의 기본 type속성은 submit이다.-->
			<button class="btn btn-outline-success btn-block" id="btn-register">등록</button>
		</form>
	</div>

	
</div>
</body>
</html>